html,
body{
    background-image: linear-gradient( #063970 8%, #abdbe3);
}



img {
    position: fixed; /* should keep image in fixed position */
    right: 20%;
}

.box {
    width: 50vw;
    height: 1100vh;
    /* background-image: linear-gradient( #063970 60%, #abdbe3); */

}